MYSQL_ENABLED=true
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=sentiment_pinjol
MYSQL_USER=root
MYSQL_PASSWORD=
SECRET_KEY=ganti-dengan-kunci-rahasia
ADMIN_NAME=Administrator
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ganti-password-admin
AUTH_DISABLED=false
